* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background: #fff;
}

#nav {
    height: 100px;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav .left {
    display: flex;
    align-items: center;
}

#nav .left h3 {
    font-size: 14px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 10px;
}

#nav .left i {
    font-size: 14px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 10px;
}

#nav .center h3 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
}

#nav .right button {
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 10px;
}

#btn2 {
    background-color: #ff4500 !important;
    color: #fff !important;
    border: none !important;
}

#main>h1 {
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 100 !important;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main>img {
    height: 300px;
    width: 230px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#main #img2 {
    transform: translate(-50%, -50%) rotate(-20deg);
}

#main #img3 {
    transform: translate(-50%, -50%) rotate(-15deg);
}

#main #img4 {
    transform: translate(-50%, -50%) rotate(-10deg);
}
#main>h5{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
#main #btm-right{
    position: absolute;
    bottom: 5%;
    left: 87%;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
#main .icons{
    font-size: 25px;
    font-weight: 100 !important;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    opacity: 80%;
}